body {
    margin: 0;
    background-color: white;
    color: black;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-align: center; 
    margin-top: 100px;
    margin-bottom: 0;
} 

h2 {
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

#menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-family: "Helvetica", Arial, sans-serif;
    color: green;
    text-decoration: none;
}

#menu a {                  
    color: green;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 42px;
        margin-top: 40px;
    }

    h2 {
        font-size: 18px;
    }

    #menu {
        flex-direction: column;
        justify-content: center;
        gap: 15px
    }

}

/* @media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

/* Dark mode
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
} */